/*post*/


.post-title {
	font-family: 'Lucida Grande',Verdana,Arial,Sans-Serif;
}


.post {
	/*
	background-image:url(images/post.png);
	background-repeat:repeat-y;
	*/
	background-color: @color_primary_post;
	margin: 20px 0;
	padding: 15px 33px;
	text-align:left;
	width:695px;
	overflow:auto;
}	

	
#postfooter  {
	/*
	height:23px;
	width:100%; 
	margin:0px;
	background-image:url(images/postfooter.png);
	background-repeat:no-repeat;
	*/
}
	
#postheader {
	/*
	height:26px;
	width:100%; 
	margin-bottom:0px;
	/*
	background-image:url(images/postheader.png);
	background-repeat:no-repeat;
	*/
}
	
.post hr {
	display: block;
}

.widecolumn .post {
	margin: 0;
}

.narrowcolumn .postmetadata {
	padding-top: 5px;
}

.widecolumn .postmetadata {
	margin: 30px 0;
}