

#sidebar ul, #sidebar ul ol {
	margin: 0;
	padding: 1px;
	}

#sidebar ul li {
	list-style-type: none;
	list-style-image: none;
	margin-bottom: 10px;
	}

#sidebar ul p, #sidebar ul select {
	margin: 5px 0 8px;
	}

#sidebar ul ul, #sidebar ul ol {
	margin: 5px 0 0 10px;
	}

#sidebar ul ul ul, #sidebar ul ol {
	margin: 0 0 0 10px;
	}

ol li, #sidebar ul ol li {
	list-style: decimal outside;
	}

#sidebar ul ul li, #sidebar ul ol li {
	margin: 3px 0 0;
	padding: 0;
	}

#searchform {
	margin:10px auto;
	padding:0px;
	text-align:left;
	}

#sidebar #searchform #s {
	width: 108px;
	padding: 2px;
	}

#sidebar #searchsubmit {
	padding: 1px;
	}

.entry form { 
	text-align:center;
	}

select {
	width: 130px;
	}



.alt {
	margin: 0;
	padding: 10px;
	}


#sidebar {
	float:left;
	margin-left:10px;
	margin-top:9px;
	width:240px;
}

#sidebarinner {
	background-image:url(images/sidebar.png);
	background-repeat:repeat-y;
	margin-left:0; 
	padding-left:22px;
	padding-right:33px;
	}
	
#sidebarhead {
	background-image:url(images/sidebarheader.png);
	background-repeat:repeat-y;
	margin-left:0;
	height:19px;
	}
	
#sidebarfooter {
	background-image:url(images/sidebarfooter.png);
	background-repeat:repeat-y;
	margin-left:0;
	height:19px;
	}

#sidebar form {
	margin: 0;
	}
